@namespace BingilBlazorLifeCycle.Components.Layout
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@rendermode InteractiveServer

<div class="main-layout">
    <header>
        <h1>Online Ordering System</h1>
    </header>
    <main>
        @Body
    </main>
</div>
